<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.274094822191322 0.0639060996016548 0.3"
        rpy="0 0 0" />
      <mass
        value="0.112521174897847" />
      <inertia
        ixx="0.00040530239751746"
        ixy="5.31236534484268E-20"
        ixz="-4.32353418613623E-20"
        iyy="0.000203247343410457"
        iyz="6.2119325298172E-22"
        izz="0.000202523807800988" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.016992506890844 -0.0136502000046986 -0.207171864915906"
        rpy="0 0 0" />
      <mass
        value="0.638168734896677" />
      <inertia
        ixx="0.00491966123792344"
        ixy="1.91971937783003E-06"
        ixz="-2.84277041396912E-05"
        iyy="0.00514092124979509"
        iyz="1.9930165401326E-06"
        izz="0.000366114575233091" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF1/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF1/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0.2616 -0.31448 0.073269"
      rpy="0 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>